/*TITRE */

h2 {
	font-size: 2.6rem;
	font-weight: 300;
	letter-spacing: 2.5px;
	text-align: center;
}

/*CARTE */

iframe {
	width: 920px;
	height: 570px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}



/*LARGE TABLETTE */

@media screen and (max-width: 1100px) {

	/*LARGEUR ET HAUTEUR CARTE */
	iframe {
		width: 770px;
		height: 480px;
	}
}

/*TABELETTE*/

@media screen and (max-width: 900px) {

	/*LARGEUR ET HAUTEUR CARTE */
	iframe {
		width: 600px;
		height: 370px;
	}
}

/*MOBILE*/

@media screen and (max-width: 639px) {

	/*LARGEUR ET HAUTEUR CARTE */
	iframe {
		width: 80%;
		height: 300px;
	}
}