.notreEquipe{
	max-width: 1111px;	
	margin: auto;
	text-align: center;
	color: $white;
}
.bloc_Flex_Team{
	max-width: 1111px;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.blocTeam{
	width: 16rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5rem;

	&:nth-child(n+7){
		/*Retrait des blocs photos à partir du 7eme 
		a faire réapparaitre onclick via la fonction showCat JS*/
		display: none; 
	}
}
.blocTeam__img{
	width: 16rem;
	height: 16rem;
	border-radius: 50%;	
}
.blocTeam__caption{}

.blocTeam__caption--text-sm{
	font-weight: $light;
}

// Première partie en BEM


/*Bouton Voir plus JS
Attention Gros Chantier!*/

/*Pour avoir un retour a la ligne a pres les chats:*/


// .js_displayMore_btn{}

/*pour avoir une impression de border:*/
.btn_more{
	margin: 2rem auto;
   width: 104px;
	height: 104px;
	border-radius: 50%;
    background: linear-gradient(-55deg,#10e3fe, #42b8fe);
    -webkit-background: linear-gradient(-55deg,#10e3fe, #42b8fe);
}

.btn_more__background{
	background-color: #35425f;
	position: relative;
	top: 2px;
	left: 2px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	* {
		background: linear-gradient(-55deg,#10e3fe, #42b8fe);
		-webkit-background: linear-gradient(-55deg,#10e3fe, #42b8fe);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
}



@media screen and (max-width: 1084px){
	.notreEquipe{
		max-width: 932px;
	}
	.blocTeam{
		width: 130px;
	}
	.blocTeam__img{
		width: 130px;
		height: 130px;
	}
}	
@media screen and (max-width: 768px){
	.notreEquipe{
		max-width: 692px;
	}
	.blocTeam{
		width: 150px;
		&:nth-child(n+5){
			display: none; 
		}
	}
	.blocTeam__img{
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width: 639px){
	.notreEquipe{
		max-width: 483px;
	}
	.blocTeam{
		width: 120px;
		&:nth-child(n+5){
			display: none; 	
		}
	}
	.blocTeam__img{
		width: 120px;
		height: 120px;
	}
}		