h2{

  /* Style for "Nos valeur" */
  font-size: 3.6rem;
  text-align: center;
/* Text style for "Nos vale"*/ 
  letter-spacing: .288rem;
}

.process{
  text-align: center;
  display: flex;
 }

article{
  padding: 5rem;
 }

h3{
  text-align: center;
/* Text style for "E, fficaci" */
  letter-spacing: .208rem;
}

p{
  font-size: 1.4rem;
  font-weight: $light;
}

/*RESPONSIVE LARGE TABLETTE*/
@media screen and (max-width: 1024px) {

}

/*RESPONSIVE TABLETTE*/
@media screen and (max-width: 768px) {
.process{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  text-align: center;
 }

article{
  display: inline-block;
  vertical-align: top;
  padding: 5rem;
   }

}

/*RESPONSIVE MOBILE*/
@media screen and (max-width: 640px) {

}