.swiper-about{
    box-shadow: $shadowHeaderSlider;
}
.swiper-container{
    width: 100%;
    height: 45vh;
}
.swiper-slide{
    display: flex;
    align-items: center;
}

.project-description{
    background-color: rgba($backgroundHeader, .3);
    padding: 3.3rem 2.3rem 6.4rem;
    width: 44.5rem;
    margin-left: 10rem;
}
.project-description__title{
    text-align: left;
    letter-spacing: .176rem;
    font-size: 2.2rem;
    font-weight: $regular;
}
.project-description__details{
    letter-spacing: .144rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    color:$white;
}

.swiper-container__btn-container{
    position: relative;
    top: -22.5vh;
}
.swiper-button-next,
.swiper-button-prev{
    background-size: contain;
    width: 6.6rem;
    height: 6.6rem;
    margin-top: -3.3rem;
}
.swiper-button-next{
    background-image: url('../img/arrow-next.png');
    right: 0;
}
.swiper-button-prev{
    background-image: url('../img/arrow-prev.png');
    left: 0;
}

@media screen and (max-width: 768px){
    .swiper-slide{
        justify-content: center;
    }
    .project-description{
        width: calc(90% - 132px - 40px);
        margin: 0 auto;
    }
}