/* **** **** **** ****
**********************
BUTTONS 
**********************
**** **** **** **** */

// CONTACT BUTTON
.btn_contact {
	// Div permettant le border
	border-radius: 100px;
	padding: 2px;
	background: $degradeHr;
	overflow: hidden;				

	// Div permettant d'avoir un fond different du border
	&__bg {
		border-radius: 100px;
		background: $bg-link;
		transition: $trans-basic;
		position: relative;
		// On applique les effets en hover de la div "btn_contact__bg"
		&:hover {
			cursor: pointer;
			&:before {
				top: 0;
			}

			a {
				background: $bg-link;
				background-clip: text;
				-webkit-background-clip: text;
			}
		}

		// Le before permet ici d'avoir l'effet du fond en hover
		&:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 100%;
			left: 0%;
			background: $degradeHr;
			transition: $trans-basic;
		}
		
		// Propriété du lien textuel
		a {
			font-size: 2rem;
			font-weight: 300;
			letter-spacing: 1px;
			display: inline-block;
			padding: 1rem 3rem;
			color: transparent;
			background: $degradeHr;
			background-clip: text;
			-webkit-background-clip: text;
			position: relative;
			transition: $trans-basic;
		}
	}
}


// SCROLL BUTTON
.btn_scroll {
	img {
		width: 8rem;
	}
}