@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?dah4eb');
    src:  url('../fonts/icomoon.eot?dah4eb#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?dah4eb') format('truetype'),
      url('../fonts/icomoon.woff?dah4eb') format('woff'),
      url('../fonts/icomoon.svg?dah4eb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-collaboration:before {
    content: "\e900";
  }
  .icon-efficient:before {
    content: "\e901";
  }
  .icon-quality:before {
    content: "\e902";
  }

  @font-face {
    font-family: 'icomoonQuentin';
    src:  url('../fonts/icomoonQuentin.eot?p05b4a');
    src:  url('../fonts/icomoonQuentin.eot?p05b4a#iefix') format('embedded-opentype'),
      url('../fonts/icomoonQuentin.ttf?p05b4a') format('truetype'),
      url('../fonts/icomoonQuentin.woff?p05b4a') format('woff'),
      url('../fonts/icomoonQuentin.svg?p05b4a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoonQuentin' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-advice:before {
    content: "\e900";
  }
  .icon-coding:before {
    content: "\e901";
  }
  .icon-collaboration:before {
    content: "\e902";
  }
  .icon-delivery:before {
    content: "\e903";
  }
  .icon-efficient:before {
    content: "\e904";
  }
  .icon-lead:before {
    content: "\e905";
  }
  .icon-quality:before {
    content: "\e906";
  }
  
  