/* **** **** **** ****
**********************
FOOTER
**********************
**** **** **** **** */


.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 10rem;		
}

.footer small {
	p ,
	.love-bzh ,
	a {
		margin: 1.5rem 0;
		color: $white;
	}

	.love-bzh {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			margin: 0 0.5rem;
		}
	}

	a {
		display: block;
		margin-bottom: 2.5rem;
	}
}