// Reset user agent stylesheet
html {
    *{
        margin: 0;
        padding: 0;	
        box-sizing: border-box;
    }
    font-size: .625em;   
    font-size: calc(1em * .625);
}
ul {
	list-style-type: none;
}
a {
    text-decoration: none;
    &:hover {
        color: inherit;
    } 
}




/* DONNEES GENERAL DU SITE */

body {
	font-size: 1.4rem;
	color: $white;
    font-family: $lato;
    background-image: $degradeBody;
	min-height: 600px;
}
@for $i from 1 through 6 {
    h#{$i}{
        font-weight: $regular;
        font-family: $lato;
        cursor: default;
    }
}
.container {
    width : 1110px;
    @include center();
}
p{
    cursor: default;
    color: $fontHeaderP;
}
@media screen and (max-width: 1150px){
    .container {
        width: 90%;
    }
}
.first-section {
    padding-top: 10rem;
}
.has-blackweight{
    font-weight: $blackweight;
}



/* TITRE */ 

h1 {
	background: $degradeH1I;
	background-clip: text;
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-size: 4.8rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2.6rem;
	font-weight: $light;
}

h3 {
	font-size: 2.6rem;
	font-weight: $light;
}

h4 {
	color: $fontHeaderP;
	font-size: 2.2rem;
	font-weight: $light;
}