header {
    background-color: $backgroundHeader;
    box-shadow: $shadowHeaderSlider;
    position: relative;
    z-index: 100;
}

.header_nav {
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation__burger {
    display: none;
    height: 2rem;
    width: 3rem;
    position: relative;
    span{
        display: block;
        height: .4rem;
        width: 100%;
        background-color: $white;
        transition: all .3s ease-in-out;
        position: absolute;
        transform: rotate(0deg);
        &:nth-child(1){
            top:0;
            left:0;
        }
        &:nth-child(2),
        &:nth-child(3){
            top: .8rem;
        }
        &:nth-child(4){
            top: 1.6rem;
            left:0;
        }
    }
    &.is-open span{
        &:nth-child(1),
        &:nth-child(4){
            top:.8rem;
            width: 0%;
            left: 50%;
        }
        &:nth-child(2){
            transform: rotate(45deg);
        }
        &:nth-child(3){
            transform: rotate(-45deg);
        }
    }
}
.menu {
    display: flex;
    justify-content: space-between;
}     
.menu__li{
    &:not(:first-of-type){
        margin-left: 5vw;
    }
    a{
        text-transform: uppercase;
        font-family: $lato;
        font-weight: $regular;
        color: $fontHeaderP;
        font-size: 1.2rem;
        &::after{
            content: "";
            display: block;
            height: .1rem;
            width: 0%;
            margin: .2rem auto 0;
            transition: all .3s ease-in-out;
            background: $fontHeaderP;
        }
        &:hover::after{
            width: 100%;
        }
    }
}



@media screen and (max-width: 768px){
    .navigation {
        position: relative;
    }
    .menu {
        position: absolute;
        flex-direction: column;
        right: 0;
        top: 2.2rem;
        padding:0;
        background: $backgroundHeader;
        width: max-content;
        max-height: 0px;
        transition: all .3s ease-in-out;
        overflow: hidden;
        &.is-open {
            padding:2rem 3rem 2rem 2rem;
            max-height: 10rem;
        }
    }
    .menu__li{
        &:not(:first-of-type){
            margin-left: 0;
        }
        line-height: 1.6em;
        text-align: right;
        a {
            color: $white;
            &::after{
                display: none;
            }
        }
    }
}
@media screen and (max-width: 580px){
    .header_nav img {
        width: 80%;
    }
}