.hero {
    box-shadow: 0 0 21px 9px rgba(0, 0, 0, 0.3);
    background: url('../img/hero_home2.jpg') center / cover;
}
.hero__container{
    height: calc(100vh - 9rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
        margin: 25vh 0 0 6vw;
        align-self: flex-start;
    }
    a{
        margin-bottom: 3.5rem;
    }
}

@media screen and (max-width: 1300px){
    .hero__container{
        height: calc(70vw - 9rem);
        h1{
            margin: 15vh 0 0 0vw;
        }
    }
}
@media screen and (max-width: 768px){
    .hero__container{
        height: auto;
        h1{
            align-self: auto;
            margin: 2rem 0;
        }
    }
}
@media screen and (max-width: 660px){
    .hero__container{
        h1{
            font-size: 4.2rem;
        }
        a {
            margin-bottom: 1.6rem;
            img{
                width: 9rem;
            }
        }
    }
}
@media screen and (max-width: 580px){
    .hero__container{
        h1{
            font-size: 3rem;
        }
        a {
            img{
                width: 5rem;
            }
        }
    }
}
@media screen and (max-width: 420px){
    .hero__container{
        h1{
            font-size: 2.5rem;
        }
    }
}
@media screen and (max-width: 420px){
    .hero__container{
        h1{
            font-size: 2rem;
        }
    }
}