// /*GENERAL*/

// i {
//   margin-top: 3rem;
//   font-size: 9rem;
//   background: $degradeH1I;
//   background-clip: text;
//   -webkit-background-clip: text;
//   color: transparent;
// }


// /*Container*/

// /*Premier paragraphe sous titre NOUS VOUS PROPOSONS*/
// #blocTextProposition {
//   width: 325px;
//   margin: 5rem auto;
// }

// #proposition {
//   max-width: 1111px;
//   margin: auto;
//   text-align: center;
//   color: $white;
//   p {
//     color: $fontHeaderP;
//     font-family: $lato;
//     font-size: 2.2rem;
//     font-weight: $light;
//     span {
//       color: $white;
//       font-family: $lato;
//       font-weight: $bold;
//       letter-spacing: .176rem;

//     }
//   }
// }

// /*Div englobant les icones et titres*/
// #proposition #blocFlex {
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: space-around;
//   text-align: center;
// }

// #proposition #blocFlex p {
//   color: $white;
//   font-family: $lato;
//   font-size: 2.6rem;
//   font-weight: $light;

//   margin-bottom: 3rem;
//   margin-top: 3rem;
// }

// .blocIconeProposition {
//   width: 200px;
// }




// /*Media Queries*/
// @media screen and (max-width: 1084px) {
//   #proposition {
//     max-width: 932px;
//   }

//   .blocIconeProposition {
//     width: 300px;
//   }
// }

// @media screen and (max-width: 766px) {
//   #proposition {
//     max-width: 692px;
//   }

//   .blocIconeProposition {
//     width: 300px;
//   }
// }

// @media screen and (max-width: 639px) {
//   #proposition {
//     max-width: 483px;
//   }

//   .blocIconeProposition {
//     width: 170px;
//   }

//   #blocTextProposition {
//     width: 300px;
//     margin: 15px auto 30px auto;
//   }
// }