/* **** **** **** ****
**********************
HR SEPARATEUR
**********************
**** **** **** **** */


.hr {
    &--footer {
		display: block;
		position: relative;
		width: 100%;
		height: 1px;
		background: $hr;
		margin: 10rem 0 2rem;
	}
}