.mentions__title {
    color: $white;
    text-align: left;
    font-size: 1.8rem;
    font-weight: $blackweight;
    letter-spacing: inherit;
    padding: .8rem 0 .8rem;
}
.mentions__title--first{
    font-size: 2.2rem;
    padding: 0 0 .5rem 1rem;
}
.mentions__text {
    span{
        line-height: 2rem;
    }
    color: $white;
    font-weight: $regular;
    padding-bottom: .5rem;
}
.mentions__text--retrait{
    padding-bottom: 0;
    padding-left: 3.5rem;
}
.mentions__link{
    color: $white;
    &:hover {
        text-decoration: underline;
    }
}
.mentions__list {
    list-style: square;
    padding-left: 1.6rem;
}