
.text-icon-contenant{
   display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 8rem;
}

.text-icon{
   width: 300px;
   display: flex;
   flex-direction: column;
   align-content: center;
   padding: 0;
  }

.text-icon--width-sm{
  width: 250px;
}

.text-icon__title{
  color: $white;
  font-family: $lato;
  font-size: 2.6rem;
  font-weight: $light;
  margin-left: auto;
  margin-right: auto;
/* Text style for "E, fficaci" */
  letter-spacing: .208rem;
  padding: 2rem 0;
}

.text-icon__content{
  color: $fontHeaderP;
  font-family: $lato;
  font-size: 1.4rem;
  font-weight: $light;
}

i {
  margin: 3rem auto;
  font-size: 16rem;
  background: $degradeH1I;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hr{
  width: 50%;
  height: .2rem;
  @include center();
  background-image: $degradeHr;
  border-style: none;
  margin-bottom: 5rem;
 }

.text-top-proposition {
  width: 325px;
  margin: 5rem auto;
}
.text-top-proposition__text--span{
  font-weight: 700;
}


/*RESPONSIVE LARGE TABLETTE*/
@media screen and (max-width: 1024px) {
i{
   font-size: 20rem;
}
.text-icon{ 
  width: 260px;
  margin-bottom: 2rem;
}
.text-icon--width-sm{
  width: 200px;
   margin-bottom: 2rem;
  }
}
/*RESPONSIVE TABLETTE*/
@media screen and (max-width: 768px) {

.text-icon{
   width: 350px;
 }
.text-icon--width-sm{
  width: 250px;
  }
i{
   font-size: 16rem;
  }

}
/*RESPONSIVE MOBILE*/
@media screen and (max-width: 640px) {
  .text-icon{
    width: 250px;
   }
  .text-icon--width-sm{
  width: 190px;
  }
}


