//breakpoints (bootstrap)

$sm-break: 576px;
$md-break: 768px;
$lg-break: 992px;
$xl-break: 1200px;


//color

$backgroundHeader:#323c52;
$fontHeaderP:#9da6c6;
$white: #fff;
$hr: #333f59;
$link: #4facfe;
$bg-link: #3a4a6b;


//fonts

$lato :'Lato', sans-serif;


//font-weight

$light: 300;
$regular : 400;
$bold : 700;
$blackweight: 900;


//degrade

$degradeH1I : linear-gradient(-240deg, #4facfe 0%, #00f2fe 100%);
$degradeBody: linear-gradient(to top, #2a3244 0%, #3a4a6b 100%);
$degradeHr : linear-gradient(to right, #4facfe 0%, #00f2fe 100%);


//transitions
$easing: cubic-bezier(.88,.08,.37,.94);
$trans-basic: all 0.4s cubic-bezier(.88,.08,.37,.94);

//shadow

$shadowHeaderSlider : 0 0 21px 9px rgba(0, 0, 0, 0.3);
